<!DOCTYPE html>
<html lang="en" ng-app="ingreso2">
<head>
	<meta charset="UTF-8">
	<title>Version 2-ingreso</title>
	<meta charset="UTF-8">
	<title>Ingreso de Datos-Flugel</title>
	<link rel="stylesheet" href="<?php echo base_url('complementos/bootstrap/css/bootstrap.css');?>">
	<script src="<?php echo base_url('complementos/bootstrap/js/angular.js');?>"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
	<script src="<?php echo base_url('complementos/PapaParse/papaparse.min.js');?>"></script> 
	<script src="<?php echo base_url('complementos/bootstrap/js/flugel2-0.js');?>"></script>
</head>
<header>
	<nav class="navbar bg-success"></nav>
</header>
<body>
	<div class="container-fluid" ng-controller="CsvController">
		<div class="row">
			<div class="col-md-8">
				<input type="text" ng-model="alumnoss">
				<button ng-click="setAlumnos(alumnoss)">hola mundo</button>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Apellido</th>
							<th>Edad</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-model="alumnos" ng-repeat="alumno in alumnos">
							<th contenteditable="true">{{alumno.Nombre}}</th>
							<th contenteditable="true">{{alumno.Apellido}}</th>
							<th contenteditable="true">{{alumno.Edad}}</th>
						</tr>

						<br>
						
					</tbody>
				</table>
				{{alumnos}}
			</div>
			<div class="col-md-4">

				<input type="file" ng-model="tomado" id="archivo-csv">

				<br><br>
				<button ng-click="subir()">subir</button>
				
			</div>

			
			
		</div>
	</div>
	
</body>
</html>