!DOCTYPE html>
<html lang="en" ng-app="ingreso">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="<?php echo base_url('complementos/bootstrap/css/bootstrap.css');?>">
	<script src="<?php echo base_url('complementos/bootstrap/js/angular.js');?>"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
	<script src="<?php echo base_url('complementos/PapaParse/papaparse.min.js');?>"></script> 
	<script src="<?php echo base_url('complementos/bootstrap/js/flugel1-0.js');?>"></script>
</head>
<body ng-controller="TablaController">
	<input type="submit" value="que vaina" ng-click="completo()">
</body>
</html>